<!DOCTYPE html>

<html>

    <head>
    <title>Account</title>
    {{>head}}
    </head>

    <body>

        <!--Image Upload-->
        <div>
            <input id="uploadProfilePicture" type='file' accept="image/*"/>
            <img id="profilePicture">
            
            </script>
        </div>


        <!--Navigation-->
        <div>
        <a href="/logout">Logout</a>
        <a href="/home">Home</a>
        </div>

        <!--Info-->
        <div>
            <p>Name: {{name}} </p>
            <p>Nick: {{nick}}</p>
            <p>Email: {{email}}</p>
            <img src="{{profilePic}}" />
        </div>
        
        <!--Your Session-->
        <div>
            <p>{{yourSession.machine}}</p>
            <p>{{yourSession.os}}</p>
        </div>

        <!--Other Sessions-->
        <div>
            <ul>
                {{#each openSessions}}
                <li class="session" id="{{this._id}}">
                    <div>{{this.machine}}</div>
                    <div>{{this.os}}</div>
                    <button onclick="deleteSession('{{this.token}}','{{this._id}}')">Remove</button>
                </li>
                {{/each}}
            </ul>
        </div>
        <div><a href="" onclick="deleteAllSessions()">Logout from all sessions</a></div>


    <!--Delete Sessions scripts-->
    {{>deleteSessions}}

    <!--General scripts-->
    {{>bodyscripts}}


    </body>

</html>