<!DOCTYPE html>

<html>

    <head>
        <title>Account</title>
        {{>head}}
    </head>

    <body>

        <!--Navigation-->
        <div>
        <a href="/logout">Logout</a>
        <a href="/home">Home</a>
        {{#ifEquals req.user.admin 1}} 
        <a href="/app">Create App</a>
        {{/ifEquals}}
        </div>

        <!--Info-->
        <div>
            <p>Name: {{req.user.name}} </p>
            <p>Nick: </p>
            {{>nickUpdate}}
            <p>Email: {{req.user.email}}</p>
            <img src="{{req.user.profilePic}}" />
            {{>profilePicUpload}}
        </div>
        
        <!--Your Session-->
        <div>
            <p>{{yourSession.machine}}</p>
            <p>{{yourSession.os}}</p>
            <p>{{yourSession.ip}}</p>
        </div>

        <!--Other Sessions-->
        <div>
            <ul>
                {{#each openSessions}}
                <li class="session" id="{{this._id}}">
                    <div>{{this.machine}}</div>
                    <div>{{this.os}}</div>
                    <div>{{this.ip}}</div>
                    <button onclick="deleteSession('{{this.token}}','{{this._id}}')">Remove</button>
                </li>
                {{/each}}
            </ul>
        </div>
        <div><a href="" onclick="deleteAllSessions()">Logout from all sessions</a></div>


 <!--scripts-->

<!--Delete Sessions-->
{{>deleteSessions}}

    </body>

</html>