<!DOCTYPE html>

<html>

    <head>
    <title>Account</title>
    {{>head}}
    </head>

    <body>

        <!--Image Upload-->

        <div>

            <input id="picbutton" type='file' accept="image/*"/>

            <div styles="display:none" id="picwindow">
            
                

            <img styles="width:250px" id="profilePicture">
            </div>

        </div>


        <!--Navigation-->
        <div>
        <a href="/logout">Logout</a>
        <a href="/home">Home</a>
        </div>

        <!--Info-->
        <div>
            <p>Name: {{name}} </p>

            <form id="nickchangeform">
            <p>Nick: </p>
            <input id="nick" type="text" value="{{nick}}">
            <button id="nickbutton" type="button">Update</button>
            <label id="nickstatus"></label>
            </form>

            <p>Email: {{email}}</p>
            <img src="{{profilePic}}" />
        </div>
        
        <!--Your Session-->
        <div>
            <p>{{yourSession.machine}}</p>
            <p>{{yourSession.os}}</p>
            <p>{{yourSession.ip}}</p>
        </div>

        <!--Other Sessions-->
        <div>
            <ul>
                {{#each openSessions}}
                <li class="session" id="{{this._id}}">
                    <div>{{this.machine}}</div>
                    <div>{{this.os}}</div>
                    <div>{{this.ip}}</div>
                    <button onclick="deleteSession('{{this.token}}','{{this._id}}')">Remove</button>
                </li>
                {{/each}}
            </ul>
        </div>
        <div><a href="" onclick="deleteAllSessions()">Logout from all sessions</a></div>


 <!--scripts-->
    <!--Delete Sessions-->
    {{>deleteSessions}}

    <!--Check and change nick-->
    {{>webSockets}}
    {{>nickCheck}}
    </body>

</html>