<!--FETCH APP INFO-->

    <!--App info-->
    <div id="searchzone">

        <div>
            <p>{{post.name}}</p>
        </div>

        <div>
            <p>{{post.title}}</p>
        </div>

        <div>
            <img src="{{post.picture}}"/>
        </div>

        <div>
            <p>Description</p>
            <pre>{{post.description}}</pre>
        </div>
        
        <div>
            <p>Created by</p>
            <p>{{profile.nick}}</p>
        </div>

        <div>
            <p>Authentication required?</p>
            <p>{{post.auth}}</p>
        </div>

        <div>
            <p>Public?</p>
            <p>{{post.public}}</p>
        </div>

        <div>
            <p>Local?</p>
            <p>{{post.local}}</p>
        </div>

    </div>

    {{#ifCond user._id "==" post.owner}} 
    <!--Edit Link-->
    <div>
        <a href="/edit/{{post.name}}">Edit your app</a>
    </div>
    {{/ifCond}}
    