<!--EDIT APP-->

    <!--App data-->
    <div>
        <form id="appUpForm">

                <div>
                    <label id="appUpStatus"></label>
                </div>

                <div>
                    <input id="appUpTitle" type="text" value="{{post.title}}">
                </div>

                <div>
                    ​<div id="appUpDescription" ></div>
                    <div id="appUpDescriptionRaw" style='display:none'>{{post.description}}</div>
                </div>

                <div>
                    <p>Name</p>
                    <p>{{post.name}}</p>
                </div>

                {{#ifCond user.admin ">=" 2}}
                <div>
                    <p>Local? (Admin Only)</p>
                    <input id="appUpLocal" type="checkbox" {{#ifCond post.local "==" true}}checked{{/ifCond}}>
                </div>
                {{/ifCond}}

                <div>
                    <input id="appUpUrl" type="text" placeholder="App URL"  value="{{post.url}}">
                </div>

                <div>
                    <p>Public?</p>
                    <input id="appUpPublic" type="checkbox" {{#ifCond post.public "==" true}}checked{{/ifCond}}>
                </div>

                {{#ifCond user.admin ">=" 2}}
                <div>
                    <p>Auth required? (Admin Only)</p>
                    <input id="appUpAuth" type="checkbox" {{#ifCond post.auth "==" true}}checked{{/ifCond}}>
                </div>
                {{/ifCond}}

                {{#ifCond user.admin ">=" 2}}
                <div>
                    <p>Admin Level required? (Admin Only)</p>
                    <input id="appUpAdminlevel" type="number" min="0" max="2" value="{{post.adminlevel}}">
                </div>
                {{/ifCond}}

                <div>
                    <button id="appUpSubmit" type="button">Edit</button>
                </div>
                
        </form>
    </div>

    <!--Script-->
    <script src="\js/app/editApp.js"></script>
