<!--FETCH SESSIONS-->

    <!--Your Session-->
    <div>
        <p>{{yourSession.machine}}</p>
        <p>{{yourSession.os}}</p>
        <p>{{yourSession.ip}}</p>
    </div>

    <!--Other Sessions-->
    <div>
        <ul>
            {{#each openSessions}}
            <li class="session" id="{{this._id}}">
                <div>{{this.machine}}</div>
                <div>{{this.os}}</div>
                <div>{{this.ip}}</div>
                <button onclick="deleteSession('{{this.token}}','{{this._id}}')">Remove</button>
            </li>
            {{/each}}
        </ul>
    </div>
    <div><a href="" onclick="deleteAllSessions()">Logout from all sessions</a></div>
    
    <!--Script-->
    <script src="js/profile/deleteSessions.js"></script>

    